html {
  background-color: #ecfeff;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: 0.75fr 4fr;
  grid-template-rows: 150px 4fr min-content;
}

.container div {
  /*border: 1px black solid;*/
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 70px 350px 1fr;
  background-color: #0ea5e9;
}

#sidebar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
  margin-top: 15px;
}

#sidebar-brand > svg {
  width: 52px;
  height: 52px;
  margin-right: 15px;
}

#dashboard {
  font-size: 28px;
  font-weight: bold;
  color: #ecfeff;
}

#sidebar-nav {
  margin-top: auto;
}

#nav-list,
#settings-support {
  font-size: 24px;
  font-weight: bold;
  color: #ecfeff;
  margin-top: 35px;
  margin-bottom: 5px;
}

.li-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.li-nav > svg {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  fill: #ecfeff;
}

.main-content {
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  background-color: #cbd5e1;
}

#projects-container {
  grid-row: 2 / 5;
  display: grid;
  grid-template-rows: 60px auto;
  margin: 15px;
}

#projects {
  /*grid-row: 2 / 5;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}

.project {
  border: 1px solid black;
}

#projects-container {
  grid-row: 1 / 3;
}

#my-projects-title {
  grid-column: 1 / 2;
  grid-row: 1;
}

#announcements-container {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 60px auto;
  margin: 15px;
}

#announcements {
  grid-row-start: 2;
}

#announcements-title {
  grid-row: 1 / 2;
}

#announcements > ul {
  border: 1px solid black;
  margin: 0px;
}

#trending-container {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 60px 1fr;
  margin: 15px;
}

#trending {
  grid-row-start: 2;
}

#trending-title {
  grid-row: 1 / 2;
}

#trending > ul {
  border: 1px solid black;
  margin: 0px;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#search {
  border-radius: 12px;
  background-color: #b2beb5;
}

.button {
  border-radius: 12px;
  width: 70px;
  height: 30px;
  border: 0;
  color: #ecfeff;
  background-color: #0ea5e9;
  font-weight: bold;
  font-size: 12px;
}
